<div class="row">
  <div class="col-md-6">
    <h3>13. Februar</h3>
    <table class="table table-striped">
      <tr> <td>Vorher</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">vorbereitende Umfrage</a> </td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/"></a>Warum Programmieren und warum mit Python?</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html">Pandas: Datenimport &amp; Grundprinzipien</a></td> </tr>
      <tr> <td>12:00</td>  <td>Mittagspause</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html">Arbeiten</a> <a href="https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/index.html">mit</a> <a href="https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html">DataFrames</a></td> </tr>
      <tr> <td>16:00</td>  <td>Zusammenfassung, Rückmeldungen &amp; Ende (ca. 17 Uhr)</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>14. Februar</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions/index.html">Workflows &amp; Automatisierung</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson/08-putting-it-all-together/index.html">Datenvisualisierung</a></td> </tr>
      <tr> <td>12:00</td>  <td>Zusammenfassung, <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Abschluss-Umfrage</a> &amp; Ende (ca. 13 Uhr)</td> </tr>
    </table>
  </div>
</div>
